@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-1col {
  grid-column: span 1 / span 1;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to storypath sheets */
.storypath .item-form {
  font-family: "Roboto", sans-serif;
}

.storypath .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 135px;
  flex: 0 0 135px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.storypath .sheet-header .profile-img-wrapper {
  max-width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 10px;
}

.storypath .sheet-header .profile-img {
  background: black;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
}

.storypath .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.storypath .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.storypath .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.storypath .sheet-header h1.charname select {
  width: 100%;
  height: 100%;
  font-size: 29px;
}

.storypath .pool {
  border: none;
}

.storypath .pool-value-input {
  width: 15%;
  margin-right: 5px;
}

.storypath .roll-button {
  height: 26px;
  line-height: 22px;
}

.storypath textarea {
  font-family: inherit;
  font-size: inherit;
}

.storypath .margin-right {
  margin-right: 10px;
}

.storypath .sheet-tabs {
  margin-bottom: 10px !important;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.storypath .sheet-body,
.storypath .sheet-body .tab,
.storypath .sheet-body .tab .editor {
  height: 100%;
}

.storypath .editor-content {
  border: 0.1rem solid black;
  padding: 0.5rem;
}

.storypath .tox .tox-editor-container {
  background: #fff;
}

.storypath .tox .tox-edit-area {
  padding: 0 8px;
}

.storypath .check-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.storypath .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}

.storypath .mt-1 {
  margin-top: 10px;
}

.storypath .mt-2 {
  margin-top: 20px;
}

.storypath .mb-1 {
  margin-bottom: 10px;
}

.storypath .mb-2 {
  margin-bottom: 20px;
}

.storypath .ml-1 {
  margin-left: 10px;
}

.storypath .ml-2 {
  margin-left: 20px;
}

.storypath .mr-1 {
  margin-right: 10px;
}

.storypath .mr-2 {
  margin-right: 20px;
}

.storypath .resource-label {
  font-weight: bold;
}

.storypath .resource-calculated-value {
  font-size: 35px;
}

.storypath .resource-calculated-value-small {
  font-size: 19px;
}

.storypath .resource-label::first-letter {
  text-transform: uppercase;
}

.storypath .resource-table-value::first-letter {
  text-transform: uppercase;
}

.storypath .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.storypath .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.storypath .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.storypath .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.storypath .items-list .item-header {
  font-weight: bold;
}

.storypath .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.storypath .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.storypath .items-list .item .list-item-image {
  background: black;
}

.storypath .items-list .item img {
  display: block;
}

.storypath .items-list .item-large {
  height: 40px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.storypath .items-list .item-large .item-name {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.storypath .items-list .item-name {
  margin: 0;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.storypath .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}

.storypath .items-list .items-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 172px;
  flex: 0 0 172px;
  text-align: right;
}

.storypath .items-list .merits-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  text-align: right;
}

.storypath .items-list .qualities-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 97px;
  flex: 0 0 97px;
  text-align: right;
}

.storypath .items-list .item-description {
  display: none;
}

.storypath .items-list .effects-list {
  padding: 0;
}

@font-face {
  font-family: "Crud";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CrudFont.ttf") format("truetype");
}

.origin-background .window-content {
  background: url("../assets/background-origin.png");
  background-size: cover;
}

.hero-background .window-content {
  background: url("../assets/background-hero.png");
  background-size: cover;
}

.character-sheet-background {
  padding-left: 65px;
  padding-right: 65px;
}

.item-sheet-background {
  padding-left: 50px;
  padding-right: 50px;
}

.storypath .window-content .skills,
.storypath.sheet.actor .window-content .skills {
  border: none;
  border-bottom: 1px solid #b5b3a4;
}

/* Resource boxes CSS */
.storypath .attributes-grid {
  grid-column: span 4 / span 4;
  grid-template-columns: -webkit-min-content repeat(3, minmax(0, 1fr));
  grid-template-columns: min-content repeat(3, minmax(0, 1fr));
}

.storypath .resource-value[data-name] {
  white-space: nowrap;
}

.storypath .resource-value .resource-value-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.storypath .resource-value .single-resource-value-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.storypath .resource-value-static .resource-value-static-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
}

.storypath .augment-attribute {
  margin-left: 5px;
  cursor: pointer;
}

.storypath .augment-attribute-active {
  color: #147c14;
}

.storypath .resource-value .resource-value-empty {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  background: -o-linear-gradient(45deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), -o-linear-gradient(315deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
  background: linear-gradient(45deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
}

.storypath .resource-counter .resource-counter-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

.storypath .resource-counter .resource-counter-step[data-state="-"] {
  background-color: #147c14;
}

.storypath .resource-counter .resource-counter-step[data-state="/"] {
  background: -o-linear-gradient(315deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
  background: linear-gradient(135deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
}

.storypath .resource-counter .resource-counter-step[data-state="x"] {
  background: -o-linear-gradient(45deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), -o-linear-gradient(315deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
  background: linear-gradient(45deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
}

.storypath .resource-counter .resource-counter-step[data-state="*"] {
  background: -o-linear-gradient(45deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), -o-linear-gradient(left, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), -o-linear-gradient(top, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), -o-linear-gradient(315deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
  background: linear-gradient(45deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), linear-gradient(90deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), linear-gradient(180deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
}

.storypath .flex-group-center:not(.flexrow) .resource-value,
.storypath .flex-group-center:not(.flexrow) .resource-counter {
  margin-top: 5px;
}

.storypath .tab.disciplines .resource-value {
  margin-top: 2px;
}

.origin-dice-background .dice-formula {
  font-size: var(--font-size-18);
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  padding: 5px;
  color: white;
  border: none !important;
  background: url("../assets/origin-header.png") !important;
}

.origin-dice-background .dice-total {
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  padding: 5px;
  color: white;
  border: none !important;
  background: url("../assets/origin-header.png") !important;
}

.hero-dice-background .dice-formula {
  font-size: var(--font-size-18);
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  padding: 5px;
  color: white;
  border: none !important;
  background: url("../assets/hero-header.png") !important;
}

.hero-dice-background .dice-total {
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  padding: 5px;
  color: white;
  border: none !important;
  background: url("../assets/hero-header.png") !important;
}

.group-resources {
  right: 320px;
  bottom: 6px;
  position: fixed;
  text-align: center;
  color: #f0f0e0;
  border: 1px solid #000;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px #000 inset;
  box-shadow: 0 0 5px #000 inset;
  border-radius: 5px;
  font-size: 23px;
  padding-left: 10px;
  padding-right: 10px;
}

.group-resources .resource-item {
  padding-top: 5px;
}

.group-resources .resource-label {
  text-align: start;
}

.group-resources .resource-controls {
  margin-right: 10px;
  text-align: end;
}

.group-resources .resource-button {
  background: white;
  color: black;
  cursor: pointer;
  border-radius: 20px;
  padding: 0px 9px 0px 9px;
}

.tension-player {
  bottom: 19px;
}

.tension-gm {
  bottom: 57px;
}

.list-section-header {
  margin-top: 20px;
  border-bottom: 1px solid black;
}

.storypath .cursor-pointer {
  cursor: pointer;
}

.dice-tooltip {
  display: block !important;
}

.dice-tooltip .dice-rolls .double-success {
  color: #aa0200 !important;
  -webkit-filter: sepia(0.5) hue-rotate(-160deg) !important;
  filter: sepia(0.5) hue-rotate(-160deg) !important;
}

.roll-skill {
  cursor: pointer;
}

.roll-skill:hover {
  text-shadow: 0 0 black;
}

.roll-pool {
  cursor: pointer;
}

.roll-pool:hover {
  text-shadow: 0 0 black;
}

.section-header {
  position: relative;
}

.section-header .section-header-text {
  font-size: 30px;
  color: white;
  left: 0;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 100%;
  font-family: "Crud";
  text-transform: uppercase;
}

.section-header .section-header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 30px;
  color: white;
  left: 0;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 100%;
  font-family: "Crud";
  text-transform: uppercase;
}

.section-header .section-header-button .section-header-icon {
  margin-right: 20px;
  font-size: 26px;
  padding-top: 2px;
  cursor: pointer;
}

.section-header .section-header-npc {
  top: 0px;
}

.section-header .section-header-img {
  height: 47px;
  border: none;
  width: 100%;
}

.section-header .section-header-img-npc {
  height: 32px;
  border: none;
  width: 100%;
}

.roll-skill {
  text-align: initial;
}

.attributes input[type="checkbox"] {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15px;
  flex: 0 0 15px;
  width: 15px;
  height: 15px;
  margin: 0px 10px 0px 0px;
}

.pools {
  margin-bottom: 10px;
}

.chat-card {
  font-style: normal;
  font-size: 12px;
}

.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #FFF;
  border-bottom: 2px groove #FFF;
}

.chat-card .card-header img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36px;
  flex: 0 0 36px;
  margin-right: 5px;
}

.chat-card .card-content {
  margin: 5px 0;
}

.chat-card .card-content h3 {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}

.chat-card .card-content > * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.chat-card .item-name {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  line-height: 36px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  color: #4b4a44;
}

.chat-card .card-buttons {
  margin: 5px 0;
}

.chat-card .card-buttons span {
  display: block;
  line-height: 28px;
  text-align: center;
}

.chat-card .card-buttons button {
  font-size: 12px;
  height: 24px;
  line-height: 20px;
  margin: 2px 0;
}

.chat-card .card-footer {
  padding: 3px 0 0;
  border-top: 2px groove #FFF;
}

.chat-card .card-footer span {
  border-right: 2px groove #FFF;
  padding: 0 3px 0 0;
  font-size: 10px;
}

.chat-card .card-footer span:last-child {
  border-right: none;
  padding-right: 0;
}

.chat-control-icon .fas.fa-dice-d20:hover:before {
  cursor: pointer;
}

.skill-roll {
  margin: 0px 20px 5px 20px;
}

.dialog-buttons {
  margin: 0px 20px 0px 20px;
}
