<form>
    <div class="sheet-body storypath skill-roll">
        {{> systems/storypath-fvtt/templates/dialogues/skill-base.html}}
        <div class="d-flex">
            <button type="button" id="roll-button">Roll</button>
            <button type="button" id="cancel">Cancel</button>
        </div>
    </div>
</form>