{{#ifEquals data.rollType 'base'}}
<div class="resource flex-center">
    <label class="resource-label">{{localize "STORYPATH.Dice"}}</label>
</div>
<div class="resource d-flex flex-center mb-1">
    <input name="object.dice" value="{{data.dice}}" type="number">
</div>
{{else}}
<div class="resource grid grid-2col flex-center">
    {{#ifEquals data.characterType 'scion'}}

    <label class="resource-label">{{localize "STORYPATH.Attribute"}}: </label>
    <select name="object.attribute" value="{{data.attribute}}" data-type="String">
        {{#select data.attribute}}
        <option value="intellect">{{localize "STORYPATH.Intellect"}}</option>
        <option value="cunning">{{localize "STORYPATH.Cunning"}}</option>
        <option value="resolve">{{localize "STORYPATH.Resolve"}}</option>
        <option value="might">{{localize "STORYPATH.Might"}}</option>
        <option value="dexterity">{{localize "STORYPATH.Dexterity"}}</option>
        <option value="stamina">{{localize "STORYPATH.Stamina"}}</option>
        <option value="presence">{{localize "STORYPATH.Presence"}}</option>
        <option value="manipulation">{{localize "STORYPATH.Manipulation"}}</option>
        <option value="composure">{{localize "STORYPATH.Composure"}}</option>
        <option value="none">{{localize "STORYPATH.None"}}</option>
        {{/select}}
    </select>

    <label class="resource-label">{{localize "STORYPATH.Skill"}}: </label>
    <select name="object.skill" value="{{data.skill}}" data-type="String">
        {{#select data.skill}}
        <option value="academics">{{localize "STORYPATH.Academics"}}</option>
        <option value="athletics">{{localize "STORYPATH.Athletics"}}</option>
        <option value="close">{{localize "STORYPATH.CloseCombat"}}</option>
        <option value="culture">{{localize "STORYPATH.Culture"}}</option>
        <option value="empathy">{{localize "STORYPATH.Empathy"}}</option>
        <option value="firearms">{{localize "STORYPATH.Firearms"}}</option>
        <option value="integrity">{{localize "STORYPATH.Integrity"}}</option>
        <option value="leadership">{{localize "STORYPATH.Leadership"}}</option>
        <option value="medicine">{{localize "STORYPATH.Medicine"}}</option>
        <option value="occult">{{localize "STORYPATH.Occult"}}</option>
        <option value="persuasion">{{localize "STORYPATH.Persuasion"}}</option>
        <option value="pilot">{{localize "STORYPATH.Pilot"}}</option>
        <option value="science">{{localize "STORYPATH.Science"}}</option>
        <option value="subterfuge">{{localize "STORYPATH.Subterfuge"}}</option>
        <option value="survival">{{localize "STORYPATH.Survival"}}</option>
        <option value="technology">{{localize "STORYPATH.Technology"}}</option>
        <option value="legend">{{localize "STORYPATH.Legend"}}</option>
        <option value="none">{{localize "STORYPATH.None"}}</option>
        {{/select}}
    </select>

    {{#ifEquals data.rollType 'itemRoll'}}
    <label class="resource-label">{{localize "STORYPATH.ItemRating"}}: </label>
    <input name="object.itemDice" value="{{data.itemDice}}" type="number">
    {{/ifEquals}}

    <!-- <label class="resource-label">{{localize "STORYPATH.Specialties"}}: </label>
    <select data-type="String">
        {{#each data.specialties as |specialty key|}}
            <option value="{{specialty.id}}">{{specialty.name}}</option>
        {{/each}}
    </select> -->

    <label class="resource-label">{{localize "STORYPATH.HasSpecialty"}}: </label>
    <input type="checkbox" name="object.hasSpecialty" value="{{data.hasSpecialty}}">

    {{/ifEquals}}


    {{#ifEquals data.characterType 'npc'}}

    <label class="resource-label">{{localize "STORYPATH.Pool"}}: </label>
    <select name="object.pool" value="{{data.pool}}" data-type="String">
        {{#select data.pool}}
        <option value="primary">{{localize "STORYPATH.Primary"}}</option>
        <option value="secondary">{{localize "STORYPATH.Secondary"}}</option>
        <option value="desperation">{{localize "STORYPATH.Desperation"}}</option>
        <option value="initiative">{{localize "STORYPATH.Initiative"}}</option>
        {{/select}}
    </select>

    {{/ifEquals}}

    <label class="resource-label">{{localize "STORYPATH.DoubleSuccesses"}}: </label>
    <input type="checkbox" name="object.doubleSuccesses" value="{{data.doubleSuccesses}}">

    <label class="resource-label">{{localize "STORYPATH.EnhancementOn0Successes"}} </label>
    <input type="checkbox"  name="object.enhancementOnZero" value="{{data.enhancementOnZero}}">
</div>
{{#ifEquals data.characterType 'scion'}}

<div class="d-flex flex-between mb-1 collapsable cursor-pointer">
    <div class="resource-label">
        Specialties
    </div>
    <div>
        <i class="fas fa-caret-down"></i>
    </div>
</div>
<div style="display:none;">
    {{#each data.specialties as |specialty key|}}
    <div>
        {{specialty.name}} ({{specialty.data.skill}})
    </div>
    {{/each}}
</div>
{{/ifEquals}}

{{/ifEquals}}
<div class="resource grid grid-2col flex-center">
    <div>
        <label class="resource-label">{{localize "STORYPATH.DiceModifier"}} </label>
        <input name="object.diceModifier" value="{{data.diceModifier}}" type="number">
    </div>
    <div>
        <label class="resource-label">{{localize "STORYPATH.Enhancement"}} </label>
        <input name="object.enhancement" value="{{data.enhancement}}" type="number">
    </div>
</div>

<div class="resource grid grid-2col flex-center">
    <div>
        <label class="resource-label">{{localize "STORYPATH.TargetNumber"}} </label>
        <input name="object.targetNumber" value="{{data.targetNumber}}" type="number" value="8">
    </div>
    <div>
        <label class="resource-label">{{localize "STORYPATH.NumberAgain"}}</label>
        <input name="object.numberAgain" value="{{data.numberAgain}}"  type="number" value="10">
    </div>
</div>

<div class="resource flex-center">
    <label class="resource-label">{{localize "STORYPATH.Difficulty"}}</label>
</div>
<div class="resource d-flex flex-center mb-1">
    <input name="object.difficulty" value="{{data.difficulty}}" type="number">
</div>