<form class="{{cssClass}} flexcol character-sheet-background" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="105" width="100" />
        <div class="header-fields">
            <div>
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
                        placeholder="{{localize 'STORYPATH.NameTitle'}}" /></h1>
            </div>
            <div>
                <h1 class="charname"><input name="data.archetype" type="text" value="{{data.data.archetype}}"
                        placeholder="{{localize 'STORYPATH.Archetype'}}" /></h1>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="stats">{{localize "STORYPATH.Stats"}}</a>
        <a class="item" data-tab="qualities">{{localize "STORYPATH.Qualities"}}/{{localize "STORYPATH.Flairs"}}</a>
        <a class="item" data-tab="effects">{{localize "STORYPATH.Effects"}}</a>
        <a class="item" data-tab="description">{{localize "STORYPATH.Description"}}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="stats">
            {{> systems/storypath-fvtt/templates/actor/section-header.html text='Pools' isNpc=true}}
            <div class="pools flex-group-center">
                <div class="flex-group-left pool">
                    <label class="resource-label roll-pool" data-pool="primary">
                        {{localize "STORYPATH.Primary"}} {{localize "STORYPATH.Pool"}}
                    </label>
                    <div class="d-flex">
                        <input class="pool-value-input" type="number" name="data.pools.primary.value"
                            value="{{data.data.pools.primary.value}}" data-dtype="Number" />
                        <input type="text" name="data.pools.primary.actions" value="{{data.data.pools.primary.actions}}"
                            placeholder="Input what actions this pool covers" />
                    </div>
                </div>
                <div class="flex-group-left pool">
                    <label class="resource-label roll-pool" data-pool="secondary">
                        {{localize "STORYPATH.Secondary"}} {{localize "STORYPATH.Pool"}}
                    </label>
                    <div class="d-flex">
                        <input class="pool-value-input" type="number" name="data.pools.secondary.value"
                            value="{{data.data.pools.secondary.value}}" data-dtype="Number" />
                        <input type="text" name="data.pools.secondary.actions"
                            value="{{data.data.pools.secondary.actions}}"
                            placeholder="Input what actions this pool covers" />
                    </div>
                </div>
                <div class="flex-group-left pool">
                    <label class="resource-label roll-pool" data-pool="desperation">
                        {{localize "STORYPATH.Desperation"}} {{localize "STORYPATH.Pool"}}
                    </label>
                    <div class="d-flex">
                        <input class="pool-value-input" type="number" name="data.pools.desperation.value"
                            value="{{data.data.pools.desperation.value}}" data-dtype="Number" />
                        <input type="text" name="data.pools.desperation.actions"
                            value="{{data.data.pools.desperation.actions}}"
                            placeholder="Input what actions this pool covers" />
                    </div>
                </div>
            </div>
            {{> systems/storypath-fvtt/templates/actor/section-header.html text='Dice & Combat' isNpc=true}}
            <div>
                <div id="character-combat-tab">
                    <div class="grid grid-3col flex-group-center">
                        <div class="resource flex-group-center d-flex">
                            <div>
                                <div class="flexrow">
                                    <label for="data.health" class="resource-label">{{localize "STORYPATH.Health"}}<i
                                            class="fas fa-calculator cursor-pointer" id="calculate-health"
                                            style="margin-left:3px;" title="Calculate Health"></i></label>
                                </div>
                                <div class="resource-counter" data-states="/:bashing,x:lethal,*:aggravated"
                                    data-max="{{data.data.health.levels}}" data-bashing="{{data.data.health.bashing}}"
                                    data-lethal="{{data.data.health.lethal}}"
                                    data-aggravated="{{data.data.health.aggravated}}" data-name="data.health">
                                    {{#numLoop data.data.health.levels}}
                                    <span class="resource-counter-step" data-index="{{this}}" data-state=""></span>
                                    {{/numLoop}}
                                </div>
                            </div>
                        </div>
                        <div class="resource-content flexrow flex-center flex-between">
                            <div>
                                <label class="resource-label">{{localize "STORYPATH.Defense"}}</label>
                                <input type="number" name="data.defense.value" value="{{data.data.defense.value}}"
                                    data-dtype="Number" />
                            </div>
                        </div>
                        <div class="resource-content flexrow flex-center flex-between">
                            <div>
                                <label class="resource-label roll-pool" data-pool="initiative">{{localize
                                    "STORYPATH.Initiative"}}</label>
                                <input type="number" name="data.initiative.value" value="{{data.data.initiative.value}}"
                                    data-dtype="Number" />
                            </div>
                        </div>
                    </div>
                    <div class="resources">
                        <button id="rollSkill" class="roll-button"><i class="fas fa-dice"></i>{{localize
                            "STORYPATH.RollPool"}}</button>
                    </div>
                </div>
            </div>
            <div>
                <label class="resource-label">
                    {{localize "STORYPATH.Drive"}}
                </label>
                <input type="text" name="data.drive" value="{{data.data.drive}}" />
            </div>
            <div>
                <label class="resource-label">
                    {{localize "STORYPATH.Extras"}}
                </label>
                <textarea type="text" name="data.extras" rows="6">{{data.data.extras}}</textarea>
            </div>
        </div>
        {{!-- Qualities & Flairs Tab --}}
        <div class="tab items" data-group="primary" data-tab="qualities">
            {{> systems/storypath-fvtt/templates/actor/item-section-header.html text='Qualities' name='quality'
            list=actor.qualities isNpc=true}}
            {{> systems/storypath-fvtt/templates/actor/item-section-header.html text='Flairs' name='flair'
            list=actor.flairs isNpc=true}}
            {{> systems/storypath-fvtt/templates/actor/item-section-header.html text='Fatebindings' name='fatebinding' isNpc=true
            list=actor.fatebindings}}
        </div>

        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> systems/storypath-fvtt/templates/actor/section-header.html text='Effects' isNpc=true}}
            {{> systems/storypath-fvtt/templates/actor/active-effects.html}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{> systems/storypath-fvtt/templates/actor/section-header.html text='Description & Notes' isNpc=true}}
            {{editor content=data.data.biography target="data.biography" button=true owner=owner editable=true}}
        </div>
    </section>
</form>