<form class="{{cssClass}} flexcol character-sheet-background" autocomplete="off">


  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <div>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
            placeholder="{{localize 'STORYPATH.Name'}}" /></h1>
      </div>
      <div class="grid grid-2col flexrow">
        <h1 class="charname"> <select id="tier-select" name="data.info.tier" data-type="String">
            {{#select data.data.info.tier}}
            <option value="origin">{{localize "STORYPATH.Origin"}}</option>
            <option value="hero">{{localize "STORYPATH.Hero"}}</option>
            {{/select}}
          </select></h1>
        <h1 class="charname"><input name="data.info.parent" type="text" value="{{data.data.info.parent}}"
            placeholder="{{localize 'STORYPATH.Parent'}}" /></h1>
        <!-- <h1 class="charname"><input name="data.details.chronicle" type="text" value="{{data.data.details.chronicle}}"
            placeholder="{{localize 'STORYPATH.Chronicle'}}" /></h1> -->
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats">{{localize "STORYPATH.Stats"}}</a>
    <a class="item" data-tab="traits">{{localize "STORYPATH.Traits"}}</a>
    <a class="item" data-tab="powers">{{localize "STORYPATH.Powers"}}</a>
    <a class="item" data-tab="deeds">{{localize "STORYPATH.Deeds"}}</a>
    <a class="item" data-tab="effects">{{localize "STORYPATH.Effects"}}</a>
    <a class="item" data-tab="description">{{localize "STORYPATH.Description"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <!-- Code for attribute and skill dots taken from foundry-V5

    MIT License

    Copyright (c) 2020 Ray Ji

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE. -->

    {{!-- Stats Tab --}}
    <div class="tab flex-center" data-group="primary" data-tab="stats">
      {{> systems/storypath-fvtt/templates/actor/section-header.html text='Skills'}}
      <div class="attributes grid grid-3col flex-group-center">
        {{#each data.data.skills as |skill key|}}
        <div class="skill flexrow flex-center">
          <input class="skill-checkbox" id="skill" name="data.skills.{{key}}.path" type="checkbox" {{checked
            skill.path}}>
          <label for="data.skills.{{key}}.value" class="resource-label vrollable roll-skill" data-roll="{{skill.value}}"
            data-skill="{{key}}" data-label="{{skill.name}}">{{localize
            skill.name}}</label>
          <div class="resource-value" data-value="{{skill.value}}" data-name="data.skills.{{key}}.value">
            {{#numLoop 5}}
            <span class="resource-value-step" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
        {{/each}}
      </div>
      {{> systems/storypath-fvtt/templates/actor/section-header.html text='Attributes'}}
      <div class="grid grid-4col">
        <div></div>
        <div class="resource-label flexrow flex-center">
          <label>Mental</label>
        </div>
        <div class="resource-label flexrow flex-center">
          <label>Physical</label>
        </div>
        <div class="resource-label flexrow flex-center">
          <label>Social</label>
        </div>
      </div>
      <div class="attributes grid grid-4col flex-group-center">
        {{#each data.data.approaches as |approach akey|}}
        <div class="attribute flexrow flex-center resource-label">
          {{localize approach.name}}
        </div>
        {{#each ../data.data.attributes as |attribute key|}}
        {{#ifEquals attribute.approach akey}}
        <div class="attribute flexrow flex-center">
          <label for="data.attributes.{{key}}.value" class="resource-label resource-value"
            data-roll="{{attribute.value}}" data-label="{{attribute.name}}">{{localize attribute.name}}</label>
          <div class="resource-value" data-value="{{attribute.value}}" data-name="data.attributes.{{key}}.value">
            {{#numLoop 5}}
            <span class="resource-value-step" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
        {{/ifEquals}}
        {{/each}}
        {{/each}}
      </div>
      {{> systems/storypath-fvtt/templates/actor/section-header.html text='Combat'}}
      <div>
        <div id="character-combat-tab">
          <div {{#ifNotEquals data.data.info.tier 'origin' }} class="grid grid-4col flex-group-center" {{/ifNotEquals}}
            {{#ifEquals data.data.info.tier 'origin' }} class="grid grid-3col flex-group-center" {{/ifEquals}}>
            {{#ifNotEquals data.data.info.tier 'origin'}}
            <div class="resource-content flexrow flex-center flex-between">
              <div class="grid grid-2col">
                <div>
                  <label class="resource-label roll-skill" data-skill="legend">{{localize "STORYPATH.Legend"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="number" name="data.legend.value" value="{{data.data.legend.value}}"
                      data-dtype="Number" />
                      /
                    <input type="number" name="data.legend.total" value="{{data.data.legend.total}}"
                      data-dtype="Number" />
                  </div>
                </div>
                <div>
                  <label class="resource-label">{{localize "STORYPATH.Imbued"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="number" name="data.legend.imbued" value="{{data.data.legend.imbued}}"
                      data-dtype="Number" />
                  </div>
                </div>
              </div>
            </div>
            {{/ifNotEquals}}
            <!-- <div class="resource-content flexrow flex-center flex-between">
              <div>
                <label class="resource-label">{{localize "STORYPATH.Momentum"}}</label>
                <input type="number" name="data.momentum.value" value="{{data.data.momentum.value}}"
                  data-dtype="Number" />
              </div>
            </div> -->
            <div class="resource-content flexrow flex-center flex-between">
              <div>
                <label class="resource-label roll-skill" data-skill="defense">{{localize "STORYPATH.Defense"}}</label>
                <input type="number" name="data.defense.value" value="{{data.data.defense.value}}"
                  data-dtype="Number" />
              </div>
            </div>
            <div class="resource-content flexrow flex-center flex-between">
              <div>
                <label class="resource-label roll-skill" data-skill="movement">{{localize "STORYPATH.Movement"}}</label>
                <input type="number" name="data.movement.value" value="{{data.data.movement.value}}"
                  data-dtype="Number" />
              </div>
            </div>
            <div>
              <!-- <label class="resource-label">{{localize "STORYPATH.RollSkill"}}</label> -->
              <button class="roll-button" id="rollSkill"><i class="fas fa-dice"></i>{{localize
                "STORYPATH.Skill"}}</button>
                <button class="roll-button" id="rollInitiative"><i class="fas fa-dice"></i>{{localize
                  "STORYPATH.Initiative"}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-2col">
        <div>
          {{> systems/storypath-fvtt/templates/actor/item-section-header.html text='Health' small=true
          name='health' list=actor.health}}
        </div>
        <div>
          {{> systems/storypath-fvtt/templates/actor/item-section-header.html text='Conditions' small=true
          name='condition' list=actor.conditions}}
        </div>
      </div>
    </div>

    {{!-- Traits Tab --}}
    <div class="tab items" data-group="primary" data-tab="traits">
      {{> systems/storypath-fvtt/templates/actor/item-section-header.html text='Specialties'
      name='specialty' list=actor.specialties}}
      {{> systems/storypath-fvtt/templates/actor/item-section-header.html text='Paths' name='path' list=actor.paths}}
      {{> systems/storypath-fvtt/templates/actor/item-points-section-header.html text='Callings' name='calling'
      list=actor.callings}}
      {{#ifEquals data.data.info.tier 'hero'}}
      <div>
        {{> systems/storypath-fvtt/templates/actor/section-header.html text='Legendary Titles'}}
        <div class="flex-center mt-1">
          <textarea type="text" name="data.legend.title" rows="3">{{data.data.legend.title}}</textarea>
        </div>
      </div>
      {{/ifEquals}}
      <div class="grid grid-2col">
        <div>
          {{> systems/storypath-fvtt/templates/actor/section-header.html text='Virtue' small=true}}
          <div class="grid grid-3col flex-center">
            <input type="text" name="data.virtue.virtue" value="{{data.data.virtue.virtue}}" />
            <div class="resource-value" data-value="{{data.data.virtue.value}}" data-name="data.virtue.value">
              {{#numLoop 5}}
              <span class="single-resource-value-step" data-index="{{this}}"></span>
              {{/numLoop}}
            </div>
            <input type="text" name="data.virtue.countervirtue" value="{{data.data.virtue.countervirtue}}" />
          </div>
        </div>
      </div>
    </div>

    {{!-- Powers Tab --}}
    <div class="tab items" data-group="primary" data-tab="powers">
      {{> systems/storypath-fvtt/templates/actor/item-section-header.html text='Knacks' name='knack'
      list=actor.knacks}}
      {{> systems/storypath-fvtt/templates/actor/item-points-section-header.html text='Birthrights' name='birthright'
      list=actor.birthrights}}
      {{#ifEquals data.data.info.tier 'hero'}}
      {{> systems/storypath-fvtt/templates/actor/item-section-header.html text='Boons' name='boon' list=actor.boons}}
      {{> systems/storypath-fvtt/templates/actor/item-section-header.html text='Purviews' name='purview'
      list=actor.purviews}}
      {{> systems/storypath-fvtt/templates/actor/item-section-header.html text='Fatebindings' name='fatebinding'
      list=actor.fatebindings}}
      {{/ifEquals}}
    </div>

    {{!-- Deeds Tab --}}
    <div class="tab deeds" data-group="primary" data-tab="deeds">
      {{> systems/storypath-fvtt/templates/actor/section-header.html text='Deeds'}}
      <div>
        <div>
          <label class="resource-label">{{localize "STORYPATH.ShortTerm"}}</label>
          <textarea type="text" name="data.deeds.short" rows="5">{{data.data.deeds.short}}</textarea>
        </div>
        <div>
          <label class="resource-label">{{localize "STORYPATH.LongTerm"}}</label>
          <textarea type="text" name="data.deeds.long" rows="5">{{data.data.deeds.long}}</textarea>
        </div>
        <div>
          <label class="resource-label">{{localize "STORYPATH.Band"}}</label>
          <textarea type="text" name="data.deeds.band" rows="5">{{data.data.deeds.band}}</textarea>
        </div>
      </div>
      <div>
        {{> systems/storypath-fvtt/templates/actor/section-header.html text='Experience'}}
        <div class="grid grid-3col">
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <label class="resource-label">{{localize "STORYPATH.Gained"}}</label>
              <input type="number" name="data.experience.gained" value="{{data.data.experience.gained}}"
                data-dtype="Number" />
            </div>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <label class="resource-label">{{localize "STORYPATH.Spent"}}</label>
              <input type="number" name="data.experience.spent" value="{{data.data.experience.spent}}"
                data-dtype="Number" />
            </div>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <label class="resource-label">{{localize "STORYPATH.Remaining"}}</label>
              <div>{{data.data.experience.remaining}}</div>
            </div>
          </div>
        </div>
      </div>
      {{> systems/storypath-fvtt/templates/actor/item-section-header.html text='Contacts' name='contact'
      list=actor.contacts}}
    </div>

    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> systems/storypath-fvtt/templates/actor/section-header.html text='Effects'}}
      {{> systems/storypath-fvtt/templates/actor/active-effects.html}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      <div>
        {{> systems/storypath-fvtt/templates/actor/item-section-header.html text='Equipment' name='item'
        list=actor.gear}}
      </div>
      {{> systems/storypath-fvtt/templates/actor/section-header.html text='Description & Notes'}}
      {{editor content=data.data.biography target="data.biography" button=true owner=owner editable=true}}
    </div>

  </section>
</form>