<form class="{{cssClass}} item-sheet-background" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div>
                <label class="resource-label">{{localize "STORYPATH.Skill"}}: </label>
                <select name="data.skill" data-type="String">
                    {{#select data.data.skill}}
                        <option value="academics">{{localize "STORYPATH.Academics"}}</option>
                        <option value="athletics">{{localize "STORYPATH.Athletics"}}</option>
                        <option value="close">{{localize "STORYPATH.CloseCombat"}}</option>
                        <option value="culture">{{localize "STORYPATH.Culture"}}</option>
                        <option value="empathy">{{localize "STORYPATH.Empathy"}}</option>
                        <option value="firearms">{{localize "STORYPATH.Firearms"}}</option>
                        <option value="integrity">{{localize "STORYPATH.Integrity"}}</option>
                        <option value="leadership">{{localize "STORYPATH.Leadership"}}</option>
                        <option value="medicine">{{localize "STORYPATH.Medicine"}}</option>
                        <option value="occult">{{localize "STORYPATH.Occult"}}</option>
                        <option value="persuasion">{{localize "STORYPATH.Persuasion"}}</option>
                        <option value="pilot">{{localize "STORYPATH.Pilot"}}</option>
                        <option value="science">{{localize "STORYPATH.Science"}}</option>
                        <option value="subterfuge">{{localize "STORYPATH.Subterfuge"}}</option>
                        <option value="survival">{{localize "STORYPATH.Survival"}}</option>
                        <option value="technology">{{localize "STORYPATH.Technology"}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "STORYPATH.Description"}}</a>
        <a class="item" data-tab="effects">{{localize "STORYPATH.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=true}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            {{> systems/storypath-fvtt/templates/actor/active-effects.html}}
        </div>

    </section>
</form>
