<form class="{{cssClass}} item-sheet-background" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="d-flex align-items-center">
                <label class="resource-label">{{localize "STORYPATH.WoundLevel"}}: </label>
                <input type="number" name="data.level" value="{{data.data.level}}"  style="width: 150px;margin-right:10px;"/>
                <label class="resource-label" >{{localize "STORYPATH.Wounded"}}: </label>
                <input type="checkbox" name="data.wounded" value="data.wounded" {{checked data.data.wounded}}/>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "STORYPATH.Description"}}</a>
        <a class="item" data-tab="effects">{{localize "STORYPATH.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=true}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            {{> systems/storypath-fvtt/templates/actor/active-effects.html}}
        </div>
    </section>
</form>
