<form class="{{cssClass}} item-sheet-background" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="d-flex">
                <div>
                    <div class="resource-label">{{localize "STORYPATH.Type"}} </div>
                    <select name="data.type" data-type="String">
                        {{#select data.data.type}}
                            <option value="creature">{{localize "STORYPATH.Creature"}}</option>
                            <option value="follower">{{localize "STORYPATH.Follower"}}</option>
                            <option value="guide">{{localize "STORYPATH.Guide"}}</option>
                            <option value="relic">{{localize "STORYPATH.Relic"}}</option>
                            <option value="other">{{localize "STORYPATH.Other"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div>
                    <label class="resource-label">{{localize "STORYPATH.Rating"}} </label>
                    <input type="number" name="data.points" value="{{data.data.points}}" />
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "STORYPATH.Description"}}</a>
        <a class="item" data-tab="effects">{{localize "STORYPATH.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=true}}
        </div>

        <div class="tab" data-group="primary" data-tab="effects">
            {{> systems/storypath-fvtt/templates/actor/active-effects.html}}
        </div>
    </section>
</form>
